Start Give Variant.json
{
  "name": "Start Give Variant",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user_id",
              "type": "number"
            },
            {
              "name": "message_text"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "36c92c6e-2529-42b0-b08d-d4ffcaf6e5e8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.message_text || '';\n\nconst match = text.match(/^\\/start\\s+(-?\\d+)$/);\n\nif (!match) {\n  return [];\n}\n\nreturn [\n  {\n    json: {\n      id: Number(match[1])\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        0
      ],
      "id": "1d99d671-4d07-49af-9572-cd2c0a03f635",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "dMHJcsKFpvpszJFI",
          "mode": "list",
          "cachedResultName": "VariantsGames",
          "cachedResultUrl": "/projects/8jd96tbDs7Pn14me/datatables/dMHJcsKFpvpszJFI"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        576,
        0
      ],
      "id": "d72b1298-d715-48bd-8687-7e6213ccf4b6",
      "name": "Get row(s)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b30d3b5c-200d-44cc-aa9d-ff56f0b5faac",
              "leftValue": "={{ $json.in_progress }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "12141c0f-1d45-4425-a770-5f7c3b269e2a",
              "leftValue": "={{ $json.in_progress }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        0
      ],
      "id": "1212e2ac-f068-44fb-88a7-06e835f8a19c",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chat_id }}",
        "text": "Активну гру не знайдено (",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        96
      ],
      "id": "3ab7df47-49f5-455e-be30-d9382c955df5",
      "name": "Send a text message",
      "webhookId": "2b7da028-4b9b-40c0-9361-70bba97b4daf",
      "credentials": {
        "telegramApi": {
          "id": "9lkEFqFEEj43PLlA",
          "name": "Telegram Game Variants"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "dJYn7UF2zMW51vFR",
          "mode": "list",
          "cachedResultName": "VariantsWaitUsers",
          "cachedResultUrl": "/projects/8jd96tbDs7Pn14me/datatables/dJYn7UF2zMW51vFR"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.user_id }}"
            },
            {
              "keyName": "chat_id",
              "keyValue": "={{ $json.chat_id }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        992,
        -96
      ],
      "id": "d351af68-461d-4450-b32b-8f06116bdb4c",
      "name": "Get row(s)1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7049c59c-a725-4fc6-8029-df0a02f1ca86",
              "leftValue": "={{ $json.id_game }}",
              "rightValue": "={{ $('Code in JavaScript').item.json.id }}",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "31bd9942-7558-49e1-b66e-6cc6d79e5265",
              "leftValue": "={{ $json.answer }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1248,
        -96
      ],
      "id": "18fe0629-bdcb-429d-957f-d2f034a48fb2",
      "name": "If no answers"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "dJYn7UF2zMW51vFR",
          "mode": "list",
          "cachedResultName": "VariantsWaitUsers",
          "cachedResultUrl": "/projects/8jd96tbDs7Pn14me/datatables/dJYn7UF2zMW51vFR"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.user_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('When Executed by Another Workflow').item.json.user_id }}",
            "answer": "={{ null }}",
            "chat_id": "={{ $('Code in JavaScript').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "answer",
              "displayName": "answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1472,
        -112
      ],
      "id": "c3c0c215-7a42-46de-a101-6abeec275ad2",
      "name": "Upsert row(s)",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chat_id }}",
        "text": "Здається ти вже дав свій варіант...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1472,
        48
      ],
      "id": "241831c3-81fa-4897-9393-78e1bcf8061e",
      "name": "Send a text message1",
      "webhookId": "2b7da028-4b9b-40c0-9361-70bba97b4daf",
      "credentials": {
        "telegramApi": {
          "id": "9lkEFqFEEj43PLlA",
          "name": "Telegram Game Variants"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.user_id }}",
        "text": "=Дай свій правдоподібний але неправильний варіант відповіді на запитання:\n\n___{{ $('Get row(s)').item.json.question }}___",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1696,
        -112
      ],
      "id": "81bc0355-6968-493e-83de-f5126ee51011",
      "name": "Send a text message2",
      "webhookId": "2b7da028-4b9b-40c0-9361-70bba97b4daf",
      "credentials": {
        "telegramApi": {
          "id": "9lkEFqFEEj43PLlA",
          "name": "Telegram Game Variants"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "user_id": 396952666,
          "message_text": "/start 396952666"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "If no answers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If no answers": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "dd0c94a0-e8be-408c-8f41-dd0ccb989a6f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7f221f2658e4d4e61edd49b4eb73685055b9196df0b37c635c8982bfc2dd7c0d"
  },
  "id": "aSbDrjKioj414ef5",
  "tags": []
}